{%extends 'layout.html'%} {% block body %}
<!-- List with avatar and controls -->
<style>
  .demo-list-control {
    width: 300px;
  }

  .demo-list-radio {
    display: inline;
  }
</style>
<div class='flexbox-centering'>

  <ul class="mdl-card mdl-list">
    <li class="mdl-list__item border-bottom-activity">
      <span class="fa-stack fa-3x mdl-list__item-">
        <i class="fa fa-calendar-o fa-stack-1x"></i>
        <a class="fa-stack-1x  calendar-text" style="font-size:1.5vw">3</a>
      </span>
      <span class="mdl-list__item-primary-content ">
        You earned 120 Points this week!
      </span>
      <span class="mdl-list__item-secondary-action">
        <i onclick="myFunction(this)" class="fa fa-lg fa-line-chart" id='1'></i>
      </span>
    </li>
    <li class="mdl-list__item border-bottom">
      <span class="mdl-list__item-primary-content">
        <i class="material-icons  mdl-list__item-avatar">person</i>
        Aaron Paul just logged on!
      </span>
      <span class="mdl-list__item-secondary-action">
        <i onclick="myFunction(this)" class="fas fa-chart-line"></i>
      </span>
    </li>
    <li class="mdl-list__item border-bottom">
      <span class="mdl-list__item-primary-content">
        <i class="material-icons  mdl-list__item-avatar">person</i>
        Bob Odenkirk has hit a new high score of 150!
      </span>
      <span class="mdl-list__item-secondary-action">
        <i id='like_icon' onclick="myFunction(this)" class="fa fa-heart"></i>
      </span>
    </li>
  </ul>
</div>
<script>
  function myFunction(x) {
    console.log(x.id)
    var url = '/dashboard?week=' + x.id
    document.location.href = url
  }
</script> {% endblock %}