{% extends "layout.html" %} {% block body %}
<div class="card-container">
    <div class="row">
        <!-- flex-container -->
        <div class="col-md-12 flex-container">
            <!-- flex-item -->
            <div class="flex-item">
                <div class="flex-item-inner">
                    <!-- card -->
                    <a href="#">
                        <div class="card-front bg-violet">
                            <i class="fa fa-money fa-3x tile-icon icon-white"></i>
                            <h4>Total Points</h4>
                            <p class="detail">{{total_points}}</p>
                        </div>
                        <div class="card-back bg-violet">
                            <p class="title">Points Calculation</p>
                            <p class="desc">10 x Score x Drivetime</br>
                                Score starts at 10 and -2 each time alarm sounds.</p>
                        </div>
                    </a>
                    <!-- /card -->
                </div>
            </div>
            <!-- /flex-item -->

            <!-- flex-item -->
            <div class="flex-item">
                <div class="flex-item-inner">
                    <!-- card -->
                    <a href="#">
                        <div class="card-front bg-magenta">
                            <i class="fa fa-car fa-3x tile-icon icon-white"></i>
                            <h4>Total Drivetime</h4>
                            <p class="detail">{{total_drive}}</p>
                        </div>
                        <div class="card-back bg-magenta">
                            <p class="title">Total Driving Hours</p>
                            <p class="desc">You have logged a total of {{total_drive}} hours! Keep it up!</p>
                        </div>
                    </a>
                    <!-- /card -->
                </div>
            </div>
            <!-- /flex-item -->

            <!-- flex-item -->
            <div class="flex-item">
                <div class="flex-item-inner">
                    <!-- card -->
                    <a href="#">
                        <div class="card-front bg-blue">
                            <i class="fa fa-sun-o fa-3x tile-icon icon-white"></i>
                            <h4>High Score</h4>
                            <p class="detail">{{most_points}}</p>
                        </div>
                        <div class="card-back bg-blue">
                            <p class="title">Current high Score</p>
                            <p class="desc">You earned the most points on {{most_date}}. Try to beat it!</p>
                        </div>
                    </a>
                    <!-- /card -->
                </div>
            </div>
            <!-- /flex-item -->
        </div>
        <!-- /flex-container -->
    </div>
</div>
<script type="text/javascript" src="static/intro.js"></script>
<link rel="stylesheet" href="static/introjs.css"></link>
{% endblock %}